alias ls='ls -FG'
alias l.='ls -d -FG .*'
alias ll='ls -l -FG'
alias lltr='ls -ltr -FG'
alias vi='vim'
alias sublime='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias sed='gsed -r'
alias gbd='git branch -D'
alias gds='git diff --stat'
alias gnr='git rev-list HEAD --not --remotes'
alias grom='git reset origin/master --hard'
alias gerrit='ssh -p 29418 gerrit.workday.com gerrit'
