alias ls='ls -FG'
alias l.='ls -d -FG .*'
alias ll='ls -l -FG'
alias lltr='ls -ltr -FG'
alias vi='vim'
alias sublime='/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl'
alias sed='gsed -r'
